body{
    background-color:azure;
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    height:80vh;
    position: relative;
}

.text-container h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color:black;
    font-size: 30px;
    letter-spacing: 4px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);

}
.text-container h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1.1px;
    color:brown;
    font-size: 50px;
}

.text-container p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: teal;
    font-size: 32px;
}

.text-container button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 15px;
    outline-style:unset;
    margin: 0px 12px;
}

.hire-btn{
    border: 2px solid  #373636;
    color: #373636;
}
.download-cv{
    background-color: #373636;
    color: whitesmoke;
}
button:active{
    transform:scale(1.3);
}