body{
    font-family: Arial, Helvetica, sans-serif;
}

#section1{
    position: relative;
    width: 1535px;
    height: 724px;
}
.hero{
    position: absolute;
    width: 1375px;
    height: 598px;
    left: 80px;
    top: 63px;
    background: slategray;
    box-shadow: 5px 10px 18px slategrey;
}

.hero h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: -0.015em;
}

.hero p{
    font-family:monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    
}
#section-2{
    position: relative;
    width: 1535px;
    height: 724px;
}
.about{
    display: inline-block;
    position: absolute;
}

img{
    width:30%;
}